<header class="navbar-header">
  <div class="navbar-container">
    <a routerLink="/" class="navbar-logo code-font">
      &lt;<span class="logo-text">Sarthak PortFolio</span>/&gt;
    </a>
    <nav class="navbar-links">
      <a routerLink="/" routerLinkActive="active" class="nav-link" >Home</a>
      <a routerLink="/about" routerLinkActive="active" class="nav-link" (click)="scrollTo('about')">About</a>
      <a routerLink="/skills" routerLinkActive="active" class="nav-link"  (click)="scrollTo('skills')">Skills</a>
      <a routerLink="/projects" routerLinkActive="active" class="nav-link"  (click)="scrollTo('projects')">Projects</a>
      <a routerLink="/contact" routerLinkActive="active" class="nav-link" (click)="scrollTo('contact')">Contact</a>
    </nav>
    <div class="navbar-actions">
      <div id="google_translate_element"></div>
      <button class="theme-toggle" (click)="toggleDarkMode()" aria-label="Toggle dark mode">
        <i [ngClass]="isDarkMode ? 'fas fa-moon' : 'fas fa-sun'"></i>
      </button>
      <a routerLink="/contact" class="hire-btn">Hire Me</a>

      <button class="menu-toggle" (click)="toggleMenu()" aria-label="Toggle menu">
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </div>
  <div class="mobile-menu" [class.open]="isMenuOpen">
    <a routerLink="/" routerLinkActive="active" class="nav-link" (click)="toggleMenu()">Home</a>
    <a routerLink="/about" routerLinkActive="active" class="nav-link" (click)="toggleMenu()">About</a>
    <a routerLink="/skills" routerLinkActive="active" class="nav-link" (click)="toggleMenu()">Skills</a>
    <a routerLink="/projects" routerLinkActive="active" class="nav-link" (click)="toggleMenu()">Projects</a>
    <a routerLink="/contact" routerLinkActive="active"  class="nav-link" (click)="toggleMenu()">Contact</a>
    <a routerLink="/contact" class="hire-btn" (click)="toggleMenu()">Hire Me</a>
    <div id="google_translate_element"></div>
  </div>
</header>
