<app-navbar></app-navbar>
<app-name></app-name>               <!-- Intro / your identity -->
<app-about ></app-about>             <!-- About you, summary, background -->
<app-highlights></app-highlights>
<app-chatbot></app-chatbot>  <!-- Career highlights / stats -->
<app-skills ></app-skills>          <!-- Skills & technologies -->
<app-experience></app-experience>  <!-- Work history / projects experience -->
<app-coding-journey></app-coding-journey> <!-- Your learning and coding timeline -->
<app-projects></app-projects>     <!-- Personal or key projects -->
<app-life-beyond-code-component></app-life-beyond-code-component> <!-- Personality, hobbies -->
<app-interest></app-interest>      <!-- Interests, maybe future goals -->
<app-recommendation></app-recommendation>  <!-- Testimonials -->
<app-footer  id="contact"></app-footer>
